<!-- search compt -->
<div class="border-b-2 py-4 px-2">
  <input type="text" placeholder="search chatting" class="py-2 px-2 border-2 border-gray-200 rounded-2xl w-full" />
</div>
<!-- end search compt -->
<!-- user list -->

<div [routerLink]="[contact.contactEmail]" [routerLinkActive]="['active']" *ngFor="let contact of contactList | async" 
class="flex flex-row py-4 px-2 justify-center items-center border-b-2 list-itm rounded-md" (click)="getContactMessages(contact)">
  <div class="px-2">
    <ngx-avatars [name]="contact.contactName" ></ngx-avatars>
  </div>
  <div class="w-4/5 flex flex-col">
    <div class="text-lg font-semibold">{{contact.contactName}}</div>  
    <div class="text-sm " [ngClass]="!contact.lastMessageStatus ? 'font-semibold' : 'font-sans'">{{contact.lastMessage}}</div>  
    <div class="text-sm ">{{contact.messageTime | date:"MMM dd, yyyy 'at' hh:mm a"}}</div>  
  </div>
</div>

