<form [formGroup]="usersForm" (ngSubmit)="userAction()">
  <div class="bg-gray-800 text-white">
    <h1 class="p-6">{{formCaption}}</h1>
  </div>
  <div class="w-96 p-8">

    <div class="flex flex-col px-4">
      <mat-form-field appearance="outline" class="w-full ">
        <mat-label>User Name</mat-label>
        <input formControlName="nomPrenomArb" matInput required autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full ">
        <mat-label>Count Name</mat-label>
        <input formControlName="userName" matInput required autocomplete="off">
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Role</mat-label>
          <mat-select formControlName="role" required>
          <mat-option value="ADMIN">ADMIN</mat-option>
          <mat-option value="USER">USER</mat-option>
      </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" >
        <mat-label>Password</mat-label>
        <input matInput  [type]="hide ? 'password' : 'text'" formControlName="password" required autocomplete="off">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>              
    </mat-form-field>       

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>Account Status</mat-label>
        <mat-select formControlName="accountStatus" required>
          <mat-option [value]="false" >Disabled</mat-option>
          <mat-option [value]="true" >Enabled</mat-option>
      </mat-select>
      </mat-form-field>

    </div>

  </div>
  <div class="bg-gray-200 text-white  flex gap-4 py-8 px-12 justify-center">
    <button type="submit" mat-raised-button color="primary" class="bg-gray-700 text-white"
      style="width: 120px;">{{buttonCaption}}<mat-icon>{{buttonicon}}</mat-icon></button>
    <button mat-raised-button color="warn" (click)="closeForm()"
      style="width: 120px;">Cancel<mat-icon>cancel</mat-icon></button>
  </div>
</form>