<div
  class="w-80 bg-white rounded-lg  overflow-hidden shadow-lg hover:shadow-2xl transition duration-500 transform hover:scale-100 cursor-pointer">
  <div class="h-20  flex items-center justify-between " [ngClass]="TitleBgColor">
    <p class="mr-0 text-white text-lg pl-5" >{{statTitle}}</p>
  </div>
  <div class="flex justify-between px-5 pt-6 mb-2 text-sm text-gray-600">
    <p>TOTAL</p>
  </div>

  <div class="flex items-center p-4 bg-white rounded">
    <div class="flex flex-shrink-0 items-center justify-center bg-green-200 h-16 w-16 rounded">
      <svg class="w-6 h-6 fill-current text-green-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
        fill="currentColor">
        <path fill-rule="evenodd"
          d="M3.293 9.707a1 1 0 010-1.414l6-6a1 1 0 011.414 0l6 6a1 1 0 01-1.414 1.414L11 5.414V17a1 1 0 11-2 0V5.414L4.707 9.707a1 1 0 01-1.414 0z"
          clip-rule="evenodd" />
      </svg>
    </div>
    <div class="flex-grow flex flex-col ml-4">
      <span class="text-xl font-bold">{{count}}</span>
      <div class="flex items-center justify-between">
        <span class="text-gray-500">Visites last 30 days</span>
        <span class="text-green-500 text-sm font-semibold ml-2">+12.6%</span>
      </div>
    </div>
  </div>

</div>