h3{
    width:100%;
    
    font-family: 'CairoBold', sans-serif;
    
    
}

.add-contact-body{

    
    margin-right: -24px;
    margin-left: -24px;

    margin-top: -20px;

    padding-bottom: -25px;
    padding-top: 25px;

}
::ng-deep .mat-dialog-container {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}
mat-dialog-content{
    margin: 10px;
   
}
mat-form-field{
    width:100%;
    font-family: CairoFont;
    font-size: 14px;
    

    
  }
.mat-dialog-container {
    padding-top: 0 !important;
}

dialog-overview-example-dialog.ng-star-inserted > div {
    margin-right: -24px;
    margin-left: -24px;
}



.mat-dialog-actions{
    height: 80px;   
    padding-right: 50px;
    align-items: right;
    background: linear-gradient(#19222a,#10171d);

}


.header {

  margin-right: -24px;
  margin-left: -24px;
  margin-top: -24px;
  padding: 15px;
  padding-left: 25px;
  margin-bottom: 20px;
  background: linear-gradient(#10171d,#19222a);
  color: white;
}
button{
    margin: 5px;
}