<form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">

    <div class="bg-gray-800 text-white">
        <h1 class="p-6">Change password</h1>
    </div>
    <div class="p-8">

        <div class="flex flex-col gap-4 px-4">



            <mat-form-field appearance="outline" class="w-full ">
                <input matInput type="password" placeholder="Current password" formControlName="oldPassword"
                    autocomplete="off">
            </mat-form-field>

            <mat-divider></mat-divider>


            <mat-form-field appearance="outline" class="w-full ">
                <input matInput type="password" placeholder="New password" formControlName="newPassword"
                    autocomplete="off">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-full ">
                <input matInput type="password" placeholder="Confirm new password"
                    formControlName="newPasswordConfi" autocomplete="off">
            </mat-form-field>




            {{passwordForm.valid}}

        </div>
    </div>
    <div class="bg-gray-200 text-white  flex gap-4 py-8 px-12 justify-center">
        <button type="submit" mat-raised-button class="bg-success text-white"
            style="width: 120px;">Update<mat-icon>{{buttonicon}}</mat-icon></button>
        <button mat-raised-button color="warn" (click)="closeForm()" style="width: 120px;">Cancel
            <mat-icon>
                cancel
            </mat-icon>
        </button>
    </div>

</form>